# Dependencias (¡CRÍTICO!)
node_modules/
.pnpm-store/

# Flutter/Dart Build & Generated
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android Generated
android/app/build/
android/.gradle/
android/local.properties

# iOS Generated
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/

# macOS Generated
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Pods/

# Archivos de sistema y logs
.DS_Store
Thumbs.db
*.log

# Ignorar cache de Angular en cualquier carpeta
**/.angular/
**/vite/deps/